<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Board_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getBoardList</servlet-name>
    <servlet-class>com.samsung.board.view.GetBoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBoardList</servlet-name>
    <url-pattern>/getBoardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addReplyBoard</servlet-name>
    <servlet-class>com.samsung.board.view.AddReplyBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addReplyBoard</servlet-name>
    <url-pattern>/addReplyBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteReplyBoard</servlet-name>
    <servlet-class>com.samsung.board.view.DeleteReplyBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteReplyBoard</servlet-name>
    <url-pattern>/deleteReplyBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateBoard</servlet-name>
    <servlet-class>com.samsung.board.view.UpdateBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBoard</servlet-name>
    <url-pattern>/updateBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBoard</servlet-name>
    <servlet-class>com.samsung.board.view.GetBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBoard</servlet-name>
    <url-pattern>/getBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBoardPage</servlet-name>
    <servlet-class>com.samsung.board.view.GetBoardPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBoardPage</servlet-name>
    <url-pattern>/getBoardPage</url-pattern>
  </servlet-mapping>
</web-app>